{% include header.html %}
<!-- Page Content -->

<div class="container">
    <div class="row">
      <div class="col-md-3">
        <div class="thumbnail">
                    <img src="img/image_300x300.jpg" alt="profilepic">
                    <div class="caption">
                        <h4>Contact</h4>
                        <span class="fa fa-phone-square" aria-hidden="true"></span> +41 44 632 34 82<br>
                        <span class="fa fa-envelope" aria-hidden="true"></span> raanjhan@inf.ethz.ch<br>
                        <p>System Security Group, ETH Zurich<br>
                        CNB F101<br>
                        Universitaetstrasse 6<br>
                        8092 Zurich, Switzerland<br>
                        <p><a href="#" class="fa fa-twitter fa-lg fa-border"></a>
                        <a href="#" class="fa fa-github fa-lg fa-border"></a>
                        <a href="#" class="fa fa-linkedin fa-lg fa-border"></a></p>
                    </div>
        </div>
           
        </div>
        <div class="col-md-9">
            <p>{{content}}</p>
            </div>
    </div>

</div>
{% include footer.html %}
